*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "poppins" ,sans-serif;
}
body{
    background-color: #f6f6f8;
}

.navbar{

    display: flex;
    position: fixed;
    justify-content:  space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color:#fff ;
    z-index: 2;
    padding-left: 6rem;
}
.profile{
    display: flex;
    width: 32%;
    max-width: 200px;
    justify-content: space-between;
    align-items: center;
}
.profile-image{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius:50% ;
}

/* .profile-name{
    font-size: 0.9rem;
    margin-left: -20px;
} */
.side-toggle{
    position: fixed;
    z-index: 2;
    top: 6;
    left: 27;
    float: right;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
}
#toggle
{
    display: none;
    color:#fff;
}
.sidebar{
    position: fixed;
    height: 100%;
    width: 12%;
    left: 0;
    top: 0;
    color: #fff;
    padding: 80px 0 20px 0;
    background-color: #0909ac;

box-shadow: 2px 0 5px rgba(245, 242, 242, 0.5) ;
}
.sidebar-menu{

    display: flex;
    color:#fff;
    align-items: center;
    padding:15px 25px ;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}
    .sidebar-menu > span{
        font-size: 25px;
        padding-right: 30px;

    } 
    .siebar-menu p{
        font-size: 15px;
        color:blue;
    }
    .sidebar-menu:hover{
        color: #05d70f;
        background-color: blue;
    }
    #toggle:checked ~ .sidebar{
        width: 70px;
    }
    #toggle:checked ~ .sidebar .sidebar-menu >p{
        display: none;
    }
    .dashboard-container{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 0.5fr 0.5fr ;
        grid-template-rows: auto;
        gap: 1rem;
        grid-template-areas: 3;
    }
    .card{
      background-color: #fff;
      padding: 1rem;
      border-radius: 10px;

    }
.col-div-3{
    margin-top: 44px;
    margin-left: 70px;
    width: 25%;
    float: right;
    
}
.box{
    width: 85%;
    height: 100px;
    background-color: #2d1dd9;
    margin-bottom: 10px;
    cursor: pointer;
}
.box p{
    font-size: 30px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top:20px ;
    display:inline-block;
}
.box p span{
 font-size: 20px;
 font-weight: 400;
 color: #ffffff;

    }
    .box-icon{
        font-size: 40px!important;
        float: right;
        margin-top: 35px!important;

    }
.add a:hover{
    color:#fff;
}